{% extends "body.html" %}

{% block titulo %}{{titulo}}{% endblock titulo %}

{% block content_wrapper %}

{% load staticfiles %}

<div id="auto" >
	<div class="QRM_supercool_background" style="display:{{game_display}};">
		<div class="col-sm-1" style="display:inline"></div>
		<div class="col-sm-6 QRM_supercool_window">
			<h1>Lo has conseguido!!!</h1>
			<a  href="{% url 'elegirTerapia' %}"><img src="/files/static/congrats.png"><a>
			<p>{{mensaje_resultados}} </p>
			<p style="color:green">Aciertos: {{game_success}}</p>
	          <p style="color:red"> Fallos: {{game_fail}}</p>
	          <p>Tiempo: {{game_time}}</p>
	          <p>Pulsa sobre la imagen para volver atrás</p>
		</div>
		<div class="col-sm-2" style="display:inline"></div>
	</div>
	<div class="col-sm-12 QRM_box QRM_pink" id="media">

		<div class="QRM_box_in">

			<div style="border-radius: 30px; border: 2px dashed; width: 50px; height: 50px; overflow: hidden; float: right;">
				<div id="success" style=" font-weight: 300; font-size: 24px; margin: 0; margin-top: 10px; color: white !important;">
					<p>{{ game_success }} | {{ game_number_objects }}</p>
				</div>
				<div id="fails" style="font-size: 10px;line-height: 12px;margin-top: 0px; color: #a94442;">{{ game_fail }}</div>
			</div>

			<div style="width:200; overflow: hidden">
				<h5>Busca la tarjeta de la imagen de la lista <strong>{{ name_player }} para completar el juego!</strong></h5>
				{% if not image_prev %}
					<img src="/files/static/Who.png" width="400" title="Who" alt="Who">
				{% else %}
					<img src="{{ image_prev }}" width="350" style="border-radius: 40px">
				{% endif %}

				<div style="margin-top:10px">
				{% if file %}
					<audio controls autoplay>
						<source src="{{ file }}" type="audio/wav">
						<source src="{{ file }}" type="audio/ogg">
						<source src="{{ file }}" type="audio/mp3">
					</audio>
				{% endif %}
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-12 QRM_box alert alert-danger" style="display: none;" id="danger"></div>
	<div class="col-sm-12 QRM_box alert alert-info" id="info">Escanea una tarjeta!!!</div>
</div>

<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->

<script type="text/javascript">


    function actualizarEstadoPregunta(){

        $.get('{% url 'matchingCallback' idActividad idAsignaTerapia %}', function(data) {
        	console.log(data);
        	console.log(data.url);

        	$('#success').html('<p>' + data.game_success + ' | ' + data.game_number_objects + '</p>')
        	$('#fails').html(data.game_fail)

        	if (data.image) {
        		console.log('open', data.url)
       		    window.location.assign(data.url)
        	}

        	var danger = $('#danger');
        	var info = $('#info')
        	if (data.message_alert == 'alert-danger') {
        		danger.html("<strong>Error!</strong>La tarjeta escaneada '" + data.message_text + "' es incorrecta o ya ha sido leida. <strong>Intentalo de nuevo!!!</strong>")
        		danger.show()
        		info.hide()

        		console.log('danger')
        	} if (data.message_alert == 'alert-success')  {
				danger.hide()
                info.html("<strong>BIEN HECHO!</strong>La tarjeta escaneada es la correcta!!</strong>")
				info.show()
        	}
		})

	}

	{% if end == 0 %}
		setInterval( "actualizarEstadoPregunta()", 1000 );
	{% endif %}
</script>

{% endblock content_wrapper %}
