{% extends "baseMaterial.html" %}

{% load staticfiles %}

{% block titulo %}{{titulo}}{% endblock titulo %}

{% block body %}

<style>
    .mi-container{
    //background-color:red;
    min-height: 90%;
    height:90%;
    overflow:hidden;
    }


</style>
<div class="container-fluid mi-container">
  <div class="row justify-content-center align-items-center text-center" style="height:10%;">
    <div class="col-lg-8">
        <h1 class="h1">Titulo</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center" style="height:5%;">
    <div class="col-lg-8">
        <h2 class="h2">Subtitulo</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-start text-center" style="height:85%;">
    <div class="col-md-12 col-lg-10 col-xl-8">

      <div class="row mb-4 mt-4">

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

      </div>
      <div class="row mb-4 mt-4">

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Identificacion de Emociones</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  <!--
  <div class="row">
    <div class="col">
      uno
    </div>
  </div>
  <div class="row justify-content-between align-items-start">-->
    <!-- justify-content-center : Centrado -->
    <!-- justify-content-end : Al final -->
    <!-- justify-content-around : Distribuido centrado -->
    <!-- justify-content-between : Distribuido entre principio y final -->

    <!-- align-items-start : Top-->
    <!-- align-items-center : Centrado-->
    <!-- align-items-stretch : Tomar el 100% del height -->

    <!-- align-self-center : Controlar una columna independientemente-->

  <!--  <div class="col-md-4 col-lg-3 order-md-1 order-lg-3">dos</div>
    <div class="col-md-5 col-lg-3 order-md-2 order-lg-2">tres</div>
    <div class="col-md-3 col-lg-3 order-md-3 order-lg-1 align-self-lg-center">cuatro</div>
  </div>
  <div class="row">
    <div class="col-5 offset-md-3 offset-lg-5">
      otro contenido
    </div>
  </div>-->


{% endblock %}
