{% extends "baseMaterial.html" %}

{% load staticfiles %}

{% block titulo %}{{titulo}}{% endblock titulo %}

{% block body %}


<div class="container-fluid mi-container">
  <div class="row justify-content-center align-items-center text-center" style="height:10%;">
    <div class="col-lg-8">
        <h1>Titulo</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center" style="height:5%;">
    <div class="col-lg-8">
        <h2>Subtitulo</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-start text-center" style="height:85%;">
    <div class="col-md-12 col-lg-12 col-xl-8">

      <div class="row mb-4 mt-4">

        <div class="col-xl-2">
          <div class="card text-white bg-primary">
            <a href="#" class="text-center link text-white">
              <div class="card-header primary-color-dark" style="height:4.5rem;">Reconocimiento de Sentimientos</div>
              <div class="card-body white">
                <img class="img-fluid w-75" src="/files/static/game_match.png">
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{% endblock %}
