{% extends "baseMaterial.html" %}

{% load staticfiles %}

{% block titulo %}{{titulo}}{% endblock titulo %}

{% block body %}


{% if terapiaTratamiento|length > 0 %}
  <h1 class="text-center animated flipInX fast delay-1s mt-5 mb-5">{{mensaje}} <!--{{terapiaTratamiento|length}}--></h1>

  <div class="container-fluid ml-md-auto col-md-8" >

    <div class="row animated flipInX delay-1s">
    {% for i in terapiaTratamiento %}
    <div class="col-xl-2 ml-auto mr-auto">
        <div class="card text-white bg-primary">
          <a href="{% url 'elegirActividad' i.terapia i.id %}" class="text-center link text-white">
            <div class="card-header primary-color-dark">{{ i.terapia__nombre }}</div>
            <div class="card-body white">
              <img class="img-fluid w-75" src="/files/static/game_match.png">
            </div>
          </a>
        </div>
    </div>

    {% if forloop.first != True and forloop.counter|divisibleby:6 %}
      <div class="w-100 mb-4 d-none d-lg-none d-xl-block"></div>
    {% endif %}

    {% endfor %}
    </div>
</div>
{% else %}
  <h1 class="text-center animated zoomIn slow delay-1s mt-5 mb-5">{{mensaje_error}} <!--{{terapiaTratamiento|length}}--></h1>
{% endif %}


{% endblock %}
