
{% extends "body.html" %}
{% load staticfiles %}

{% block titulo %}{{titulo}}{% endblock titulo %}

{% block content_wrapper %}
<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

			{% if player.online == "si" %}

		<a href="{% url 'elegirTerapia' %}">
			<div class="QRM_btn QRM_btn_home">
				<img class="QRM_btn_image" src="/files/static/game.png" >
				<h5>Jugar</h5>
			</div>
		</a>


		<a href="{% url 'desconectar' %}">
			<div class="QRM_btn QRM_btn_home">
				<img class="QRM_btn_image" src="/files/static/disconnect.png" >
				<h5>Disconnect {{ player.nombre }}</h5>
			</div>
		</a>

		{% else %}

    <div class="QRM_btn QRM_btn_home"> <!--style="visibility:hidden;"-->
      <img class="QRM_btn_image" src="/files/static/mqtt.png" >
      <h5>Obteniendo codigo MQTT</h5>
      <input type="text" id="codigoMQTT" value="">
    </div>

		{% endif %}

		</div>
	</div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>

{% if player.online != "si" %}
<script type="text/javascript">

function iniciarSesionRfid(){
	$.get('{% url 'rfidlogin' %}', function(data) {
		if(data.codigoMQTT != "" && data.codigoMQTT != $("#codigoMQTT").val()){
			$("#codigoMQTT").val(data.codigoMQTT)
			window.location="/identify/" + data.codigoMQTT
		}
	})
}

setInterval( "iniciarSesionRfid()", 1000 );

$(document).ready(function() {
	$("#codigoMQTT").change(function() {
		alert("cambio");
  });
});

</script>
{% endif %}

{% endblock content_wrapper %}
