{% extends "baseMaterial.html" %}

{% load staticfiles %}

{% block titulo %}{{titulo}}{% endblock titulo %}
{% block body %}
{% if resultados %}
<div class="container-fluid mi-container">
  <div class="row justify-content-center align-items-center text-center animated flipInX faster delay-1s" style="height:10%;">
    <div class="col-lg-8">
        <h1>Resultados de la Actividad</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center animated flipInX fast delay-1s" style="height:5%;">
    <div class="col-lg-8">
        <h2>{{actividad}}</h2>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center" style="height:50%;">
    <div class="col-xl-2 animated bounceIn delay-1s">
      <img class="img-fluid w-50 pb-2 font-weight-bold" src="/files/static/success.png">
      <h1 class="pb-0 mb-0">Aciertos</h1>
      <span class="font-weight-bold pt-0 mt-0" style="font-size:3rem;"> {{aciertos}}</span>
    </div>
    <div class="col-xl-2 animated bounceIn delay-2s">
     	<img class="img-fluid w-50 pb-2 font-weight-bold" src="/files/static/error.png">
      <h1 class="pb-0 mb-0">Errores</h1>
      <span class="font-weight-bold pt-0 mt-0" style="font-size:3rem;"> {{errores}}</span>
    </div>
    <div class="col-xl-2 animated bounceIn delay-3s">
      <img class="img-fluid w-50 pb-2 font-weight-bold" src="/files/static/time.png">
      <h1 class="pb-0 mb-0">Tiempo</h1>
      <span class="font-weight-bold pt-0 mt-0" style="font-size:3rem;"> {{tiempo}}</span>
    </div>
  </div>
  <div class="row justify-content-center align-items-begin text-center animated flipInX fast delay-4s" style="height:20%;">
    <div class="col-lg-8">
      <h1 style="font-size:3rem;" class="font-weight-bold">¡Buen trabajo {{jugador}}!</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-begin text-center" style="height:5%;">
    <div class="col-lg-4 animated tada infinite slow">
      <a href="/elegirActividad/{{idTerapia}}/{{idTerapiaTratamiento}}">
        <img class="img-fluid" src="/files/static/volver.png" style="width:50px;height:50px;">
        <h1 style="font-size:2.5rem;" class="font-weight-bold">Volver</h1>
      </a>
    </div>
    <div class="col-lg-4 animated tada infinite slow">
      <a href="/settings/Results/{{tratamiento}}/Details/">
        <img class="img-fluid" src="/files/static/estadisticas.png" style="width:50px;height:50px;">
      <h1 style="font-size:2.5rem;" class="font-weight-bold">Estadísticas</h1>
    </a>
    </div>
  </div>
</div>

<script type="text/javascript">
	//setTimeout(function(){window.location='/elegirActividad/{{idTerapia}}/{{idTerapiaTratamiento}}'}, 10000)
</script>

{% else %}

<div class="container-fluid mi-container">
  <div class="row justify-content-center align-items-center text-center animated flipInX fast delay-1s pt-0 pb-0" style="height:10%;">
    <div class="col-lg-8">
        <h1>{{pregunta}}</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center animated flipInX delay-1s pt-0 pb-0" style="height:5%;">
    <div class="col-xl-1">
      <div class="font-weight-bold">
        <img src="/files/static/question.png" class="w-25 pb-1 pl-0 img-fluid">
        <span style="font-size:1.5rem;" id="contadorPreguntas"></span>
      </div>
    </div>
    <div class="col-xl-1">
      <div class="font-weight-bold">
        <img src="/files/static/success.png" class="w-25 pb-1 pl-0 img-fluid">
        <span style="font-size:1.5rem;" id="contadorAciertos">&nbsp;</span>
      </div>
    </div>
    <div class="col-xl-1">
      <div class="font-weight-bold">
        <img src="/files/static/error.png" class="w-25 pb-1 pl-0 img-fluid">
      <span style="font-size:1.5rem;" id="contadorFallos">&nbsp;</span>
    </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center animated zoomInDown delay-1s" style="height:60%;">
    <div class="col-xl-5">
    {% if formato == "Texto" %}
      <h1>{{preguntaMultimedia.nombre}}</h1>
    {% endif %}

    {% if formato == "Imagen" and preguntaMultimedia.imagen %}
    <img class="img-fluid rounded animated bounceIn delay-3s" src="/{{preguntaMultimedia.imagen.url}}">
    {% endif %}

    {% if formato == "Video" and preguntaMultimedia.video %}
      <video class="video-fluid rounded" id="media" controls>
        <source src="/{{ preguntaMultimedia.video.url }}" type="video/avi">
        <source src="/{{ preguntaMultimedia.video.url }}" type="video/mp4">
        <source src="/{{ preguntaMultimedia.video.url }}" type="video/wmv">
        <source src="/{{ preguntaMultimedia.video.url }}" type="video/mpeg">
      </video>

    {% endif %}

    {% if formato == "Audio" and preguntaMultimedia.audio %}

      <video class="video-fluid rounded" poster="/files/static/speaker.png" id="media" controls>
        <source src="/{{ preguntaMultimedia.audio.url }}" type="audio/wav">
        <source src="/{{ preguntaMultimedia.audio.url }}" type="audio/ogg">
        <source src="/{{ preguntaMultimedia.audio.url }}" type="audio/mp3">
      </video>

    {% endif %}
    </div>
  </div>
  <div class="row justify-content-center align-items-center text-center" style="height:10%;">
    <div class="col-md-12 text-center animated bounceInUp fast delay-4s">
  		<h1 style="font-size:70px;"><div id="mensaje"> &nbsp;</div></h1>
  	</div>
  </div>
</div>
<script type="text/javascript">

flagPlay=true;

function actualizarEstado(){


	$('#mensaje').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){

    $('#mensaje').removeClass('animated heartBeat fast');
    $('#mensaje').addClass('animated bounceOut delay-2s');
  });

    $.get('{% url 'matchingCallBack' %}', function(data) {

			if(data.mensaje){
				$("#mensaje").html(data.mensaje)

				$('#mensaje').removeClass('animated bounceOut delay-2s');
				$('#mensaje').addClass('animated heartBeat fast');
				//$('#mensaje').addClass('animated bounceOut delay-2s');
			}



			if((data.primerSonidoPila && document.getElementById('media')) && flagPlay == true){
				document.getElementById('media').play();
				flagPlay = false;
			}

			if(data.refrescar){
				setTimeout(function(){location.reload(true);}, data.tiempoPausa)
			}
			else{
				document.getElementById('contadorPreguntas').innerHTML = data.indicePreguntaActual + "|" + data.numeroTotalPreguntas;
				document.getElementById('contadorAciertos').innerHTML = data.aciertos;
				document.getElementById('contadorFallos').innerHTML = data.fallos;
			}
	})
}
setInterval( "actualizarEstado()", 1000 );

</script>

{% endif %}

{% endblock %}
